[% warning %]

{-# language PackageImports #-}

-- | [% doc %]
--
--  __NB__: Supplants "[% old %]".
module [% new %]
  ( module [% new %],
    module Old
  )
where

import qualified "ghc" [% old %] as Old hiding ([% FOREACH identifier IN hidden %][% identifier %], [% END %])

[% FOREACH definition IN rename %]
-- | [% definition.doc %]
--
--  __NB__: Renamed from `Old.[% definition.old %]`.
[% definition.new %] = Old.[% definition.old %]
[% END %]

